:root{
  --header-h: 67px;
}
[data-theme="light"]{
  --svg: black;
  --D6: #D6D6D6;
  --BC: white;
  --T: black;
  --title-text: white;
  --SC: #454545a8;
  --post: #f8f9f9;
  --d6-90: #D6D6D6;
  --D6-60: #D6D6D6;
  --ac-5d: #acacac;
  --e0-30: #e0e0e0;
}
[data-theme="dark"]{
  --svg: white;
  --D6: #353535;
  --BC: black;
  --T: white;
  --title-text: #5D5D5D;
  --SC: #aaaaaaa8;
  --post: #353535;
  --d6-90: #909090;
  --D6-60: #606060;
  --ac-5d: #5D5D5D;
  --e0-30: #303030;
}
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
*{
  box-sizing: border-box;
  font-family: 'Roboto';
}
body{
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: var(--BC)
}
hr{
  margin: 2px 0;
}
h1, h3, h4, h5, p, span{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: var(--T);
}
h1, h3, h4, h5, h6, .time, button, a, select{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: var(--T);
}
h6{
  font-weight: normal;
  margin: 0;
  text-align: left;
}
svg path:not(.nochats svg path):not(h1 svg path):not(button[name="Edit"] svg g path){
  fill: var(--svg);
}
img{
  width: inherit;
  height: inherit;
  object-fit: cover;
  user-select: none;
}
.simg{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.greet{
  color: var(--SC);
  text-align: center;
}
button:focus, a:focus, textarea:focus, input:focus, input, button, select, option{
  outline: none;
  border: none;
  background: none;
}
button{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
}
textarea{
  border: none;
  background: none;
  resize: none;
  font-size: 1.125rem;
  color: var(--T);
}
a{
  text-decoration: none;
  font-family: inherit;
  color: black;
  display: block;
  cursor: pointer;
}
button{
  cursor: pointer;
}
.front{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000A8;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  z-index: 3;
}
.frontdiv{
  background-color: var(--e0-30);
  padding: 10px;
  border-radius: 20px;
  width: 430px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 4;
}
.settings_par{
  display: none;
}
.frontdiv > h3{
  letter-spacing: 1px;
  font-size: 23px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-column-gap: 7px;
  -moz-column-gap: 7px;
  column-gap: 7px;
  margin-bottom: 10px;
}
.switchacc button{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  justify-content: flex-start;
  height: 75px;
  border-radius: 10px;
  overflow: hidden;
  padding: 0;
  background-color: var(--BC);
  margin-bottom: 7px;
}
.switchacc button img{
  width: 75px;
  height: 75px;
}
.switchacc .addacc{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
}
.switchacc .addacc a{
  width: 200px;
  border-radius: 15px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  background-color: var(--BC);
  color: var(--T);
}
.switchacc .addacc a span{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  background-color: var(--ac-5d)
}
.back{
  display: none;
  cursor: pointer;
}
.settings_par .settings button{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
  font-size: 1.125rem;
  color: var(--T);
}
.toggleBtn{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  width: 48px;
  height: 25px;
  background-color: var(--title-text);
  border-radius: 30px;
  padding: 3px;
  transition: .5s ease justify-content;
}
.fe{
  justify-content: flex-end;
}
.toggle{
  width: 20px;
  height: 100%;
  border-radius: 50%;
  background-color: var(--T);
}
header{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}
h1 span{
  font-family: inherit;
  font-size: inherit;
  display: block;
  padding-top: 2px;
}
h1{
  margin: 0;
  font-size: 24px;
  padding: 0;
  font-family: 'Rochester';
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
h1 svg{
  margin-right: 3px;
}
a h1{
  height: 46.66px;
}
.h_nav button{
  background: none;
  border: none;
  outline: none;
  padding: 5px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.h_nav{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.h_nav nav{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  background-color: var(--D6);
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  padding: 5px;
  border-radius: 12px;
}
.h_nav a{
  display: block;
  height: 25px;
}
.sopen{
  position: relative;
  width: 220px;
}
.h_nav nav.sopen .searchBox{
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  background-color: var(--D6);
  border-radius: 12px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.h_nav nav.sopen .searchBox .srchinp{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
header .h_nav nav input[name="search"]{
  width: 100%;
  font-size: 1.125rem;
  padding: 5px;
  padding-left: 7.5px;
}
header .h_nav nav .srchRes{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 5px;
}
header .h_nav nav .srchRes p{
  font-size: 14px;
  color: #adadad;
  margin: 2px 0;
}
.body{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  height: calc(100vh - var(--header-h));
  position: relative;
}
.body.profile{
  padding: 5px 10px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.body.notifications{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 5px 7px;
}
.navigation, .postsec{
  padding: 10px;
}

/* navigation */
.navigation nav{
  padding: 7.5px;
  background-color: var(--D6);
  width: 300px;
  border-radius: 12.5px;
  height: 100%;
  overflow: hidden;
}
.title{
  text-align: center;
  padding: 7px 5px;
  background-color: var(--title-text);
  color: var(--T);
  border-radius: 12.5px;
  margin-bottom: 7px;
  width: 100%;
  letter-spacing: 1.5px;
}
h3[data-direction]{
  cursor: pointer;
}
.navigation nav > div{
  margin-bottom: 7px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}
.navigation .stories > div{
  width: calc(100% - 6px);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  overflow: auto;
}
.navigation .stories .story a{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid blue;
}
.navigation div::-webkit-scrollbar, .postsec > div::-webkit-scrollbar{
  width: 5px;
  height: 5px;
  -webkit-appearance: none;
}
.navigation div::-webkit-scrollbar-thumb, .postsec > div::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #adadad82;
}
.navigation .notifications > div{
  max-height: 435px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: auto;
}
.listbtn{
  width: calc(100% - 6px);
  margin-bottom: 5px;
  background-color: #EBEBEB;
  border-radius: 10px;
  overflow: hidden;
}
.listbtn button{
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  border: none;
  background-color: none;
  padding: 7.5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-column-gap: 7px;
  -moz-column-gap: 7px;
  column-gap: 7px;
}
.listbtn button .info{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}
.time{
  font-size: 11px;
  font-style: normal;
  color: #808080;
  -ms-align-self: flex-end;
  align-self: flex-end;
}

.postsec{
  width: 100%;
  overflow: auto;
}
.postsec::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 10px;
}
.postsec::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: var(--D6);
}
/* create post */
.cpost{
  margin-top: 7.5px;
  border-radius: 7px;
  padding: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 55%;
  border: 2.5px solid var(--D6);
}
textarea[name="post"]{
  height: 124px;
}
.cpost .p_edits{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-column-gap: 7.5px;
  -moz-column-gap: 7.5px;
  column-gap: 7.5px;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
}
.cpost .p_edits > div:first-child{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-column-gap: 7px;
  -moz-column-gap: 7px;
  column-gap: 7px;
}
.cpost .p_edits button:not([name="post"]){
  padding: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--D6-60);
}
.cpost .p_edits button[name="post"]{
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #00f0ff;
  -ms-align-self: flex-end;
  align-self: flex-end;
  font-size: 16px;
}

.postsec .stories{
  width: calc(100% - 6px);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  overflow: auto;
}
.postsec .stories .story a{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid blue;
}

/* post */
.post{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: var(--post);
  border-radius: 10px;
  margin-top: 7px;
  padding: 7px;
  width: 55%;
  box-shadow: 1px 1px 3px 0px #454545;
}
.post .postinfo{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
.post .postinfo .author{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
}
.post .postinfo .author > div{
  padding-top: 2px;
}
.post .postinfo button{
  cursor: pointer;
  font-size: 0;
}
.post .cont{
  padding: 5px;
  margin: 5px 0;
}
.post .postsets{
  position: absolute;
  background-color: var(--d6-90);
  right: 15px;
  border-radius: 5px;
  width: 120px;
}
.post .postsets h5{
  margin: 5px 5px 0;
}
.post .postsets button{
  width: 100%;
  justify-content: flex-start;
  padding: 3px;
}
.post .activity{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  border-top: .5px solid var(--d6-90);
  padding-top: 5px;
}
.post .activity button{
  width: calc(100% / 3);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  color: var(--T);
}
.post .activity button:hover{
  background-color: var(--D6)
}
/* account shortcut */
.acc_shc{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 30px;
  top: 20px;
  padding: 10px;
  background-color: var(--D6);
  border-radius: 12px;
  width: 30%;
}
.acc_shc img{
  width: 75px;
  height: 75px;
  border-radius: 40%;
  margin-bottom: 10px;
}
.acc_shc .bio{
  padding: 7px;
}
.acc_shc a{
  background-color: #0000ff;
  border-radius: 5px;
}
.acc_shc button{
  font-size: 16px;
  padding: 5px;
}



/* Messanger */
.chatList{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 350px;
  min-width: 250px;
  padding: 5px;
}
.chatList .m_search{
  border-radius: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  padding: 5px;
  width: calc(100% - 6px);
  background-color: var(--D6);
}
.chatList .m_search input{
  width: calc(100% - 17px);
  font-size: 16px;
}
.chatList .m_search button{
  padding: 0;
  height: 15px;
}
.chatList .list{
  padding: 5px;
  margin-top: 7px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.info span{
  font-size: 14px;
  color: #808080
}
.chat{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  border-left: 1px solid #454545a8;
  justify-content: space-between;
}
.chat .nochats{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  height: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.chat_head{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 5px 5px;
  box-shadow: 0 1px 1px 0px #454545a8;
}
.chat_head .chat_name{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-column-gap: 7px;
  -moz-column-gap: 7px;
  column-gap: 7px;
  -ms-align-items: center;
  align-items: center;
}
.chat_space{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
}
footer.cmessage{
  padding: 7px 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-column-gap: 7px;
  -moz-column-gap: 7px;
  column-gap: 7px;
  border-top: 1px solid #454545a8;
}
footer.cmessage textarea{
  width: 100%;
  padding: 5px 7px;
  border-radius: 20px;
  border: 1px solid #454545a8
}
/* Account */
.profhead{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  justify-content: space-between;
}
.ProfInf{
  width: 50%;
  min-width: 460px;
  height: fit-content;
  padding: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  background-color: var(--D6);
  border-radius: 10px;
}
.ProfInf > *:not(:last-child){
  margin-bottom: 5px;
}
.ProfInf .profpic{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 55%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}
.ProfInf .profpic img{
  width: 100%;
  height: 155px;
  border-radius: 7.5px;
  border: 1px solid #777;
}
.ProfInf .n_b{
  width: 100%;
}
.ProfInf .n_b h3{
  text-align: center;
  padding: 5px;
  color: var(--T);
}
.ProfInf p.bio{
  margin-top: 7px;
  width: 100%;
  padding: 7px;
  color: var(--T);
}
.ProfInf .buttons{
  width: 100%;
  padding: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-end;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.ProfInf button:last-child{
  border-radius: 10px;
  padding: 5px;
  width: 100px;
  -webkit-column-gap: 5px;
  -moz-column-gap: 5px;
  column-gap: 5px;
  font-size: 1.125rem;
  background-color: blue;
  -ms-align-items: center;
  align-items: center;
  color: var(--T);
}
.ProfInf button:first-child{
  background-color: var(--ac-5d);
  border-radius: 50%;
  padding: 7px;
}
.Followers{
  background-color: var(--D6);
  border-radius: 10px;
  height: fit-content;
  max-height: 300px;
  padding: 10px;
  width: 35%;
  min-width: 300px;
}
.Followers h3{
  background-color: var(--title-text);
  color: var(--T);
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.Followers .follist{
  background-color: var(--title-text);
  padding: 5px;
  border-radius: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  /* height: calc(100% - 43px); */
}
.profbody{
  margin-top: 7px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.postsinprof{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.postsinprof .post{
  margin: 0 0 7px;
  width: 50%;
}
.msg_n{
  margin: 12.5px 0;
  color: var(--SC);
}


/* notification page */
.body.notifications .filter{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  padding: 5px;
  width: 660px;
  background-color: var(--D6);
  border-radius: 10px;
  margin-bottom: 10px;
}
.body.notifications .filter button, select{
  width: 33.33%;
  padding: 5px;
  background-color: var(--BC);
  color: var(--T);
  border-radius: 5px;
}
.body.notifications .notification{
  width: 660px;
  background-color: var(--D6);
  border-radius: 10px;
}
.body.notifications .notification button{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  padding: 7px;
  align-items: stretch;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}
.body.notifications .notification button .info{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}
.dn{
  display: none;
}
.df{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
